<header class="detail-header">
    <label>Encounter name:</label>
    <input type="text" ng-model="encounter.name" class="encounter-name">
</header>
<div expando="{bottom: 20}">
    <div class="container" style="height: 100%">
        <div class="editor">
            <section class="entry-nav">
                <header>
                    Entries
                <!--<button class="btn-add" ng-click="encounter.addEntry()"><i class="icon-plus-sign"></i>&nbsp;Add</button>-->
                    <div class="en-add-button" ng-click="encounter.addEntry()"></div>
                </header>
                <section>
                    <div class="vertical-scroller">
                        <div class="entry-container" ng-repeat="entry in encounter.entries">
                            <div class="entry" ng-class="{'selected-item': isEntrySelected()}" tabindex="0" ng-focus="elementFocused()"><span class="label">{{entry.id}}</span> {{entry.text}}</div>
                            <!--<summary ng-class="{'selected-item': isEntrySelected()}" ng-focus="elementFocused()">[{{entry.id}}] {{entry.text}}</summary>-->
                            <div ui-sortable="sortableOptions" ng-model="entry.options">
                                <div class="option"
                                    ng-class="{'selected-item': isOptionSelected()}"
                                    tabindex="0"
                                    ng-focus="elementFocused()"
                                    ng-repeat="option in entry.options"
                                    ng-click="optionClickHandler($event)">
                                    <div class="en-op-drag-handle"></div>
                                    <span class="en-op-text">{{option.text}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <section class="details">
                <header>Details</header>
                <section>
                    <div class="vertical-scroller">
                        <ng-include src="detailUrl"></ng-include>
                    </div>
                </section>
            </section>
        </div>
    </div>
</div>
<encounterrunner></encounterrunner>
<footer>
    <div ng-show="encounter._id" ng-click="update()" class="btn btn-primary footer-btn">Update</div>
    <div ng-show="!encounter._id" ng-click="save()" class="btn btn-primary footer-btn">Save</div>
    <a href="#/" class="btn footer-btn">Cancel</a>
    <div class="er-button" ng-click="visButtonClicked()">
        <div class="er-icon"></div>
    </div>

</footer>

