<div ng-controller="EditItemCtrl">
    <!--<span class="btn-delete" ng-click="removeEntryOption(entry, option)"><i class="icon-remove-sign"></i>Delete</span>-->
    <div class="ed-op-prereqs">
        <div class="ed-label">
            <span>prerequisites</span>
            <div class="en-add-button" ng-click="inputShown = !inputShown && 30 || 0" ng-init="inputShown = 0"></div>
        </div>
        <div class="ed-label-tail"></div>
        <div class="ed-op-prereqs-container">
            <div class="ed-op-prereqs-input-container" ng-style="{'height':inputShown + 'px'}">
                <input class="ed-op-prereqs-input" ng-model="prereqToAdd" type="text" />
                <div ng-click="addPrereq(selectedItem)" class="btn ed-op-prereqs-input-btn">Add</div>
            </div>
            <div class="pre-pos-label-container" ng-repeat="pre in selectedItem.prereq">
                <span class="label pre-pos-label label-info">{{pre}}</span>
            </div>
        </div>
    </div>
    <div class="ed-op-group">
        <div class="ed-label">option group</div>
        <div class="ed-label-tail"></div>
        <input type="text" ng-model="selectedItem.group" />
    </div>
    <div class="ed-op-text">
        <div class="ed-label">text</div>
        <div class="ed-label-tail"></div>
        <textarea ng-model="selectedItem.text"></textarea>
    </div>
    <div class="ed-op-prereqs">
        <div class="ed-label">
            <span>results</span>
            <div class="en-add-button" ng-click="resultInputShown = !resultInputShown && 30 || 0" ng-init="resultInputShown = 0"></div>
        </div>
        <div class="ed-label-tail"></div>
        <div class="ed-op-prereqs-container">
            <div class="ed-op-prereqs-input-container" ng-style="{'height':resultInputShown + 'px'}">
                <input class="ed-op-prereqs-input" ng-model="resultToAdd" type="text" />
                <div ng-click="addResult(selectedItem)" class="btn ed-op-prereqs-input-btn">Add</div>
            </div>
            <div class="pre-pos-label-container" ng-repeat="result in selectedItem.results">
                <span class="label pre-pos-label label-info">{{result}}</span>
            </div>
        </div>
    </div>
<!--    <div class="ed-op-result">
        <div class="ed-label">result</div>
        <div class="ed-label-tail"></div>
        <input type="text" ng-model="selectedItem.result" />
    </div>-->
    <div class="ed-op-link">
        <div class="ed-label">links to</div>
        <div class="ed-label-tail"></div>
        <select ng-model="selectedItem.link" ng-options="l.value as l.displayText for l in links()">
            <!--ui-select2-->
        </select>
    </div>
</div>
