#encounter-runner {
    position: absolute;
    bottom: 50px;
    /* right: 59px; */
    /* bottom: 0px; */
    /* margin-top: -40px; */
    width: 100%;
    padding: 0px 0px;
    /* transition: margin-top .35s ease; */
    z-index: 1568;
    /* height: 0px; */
    line-height: 0px;
}

.er-button {
    height: 50px;
    /* float: right; */
    width: 50px;
    /* border-radius: 10px; */
    /* border-bottom-left-radius: 0px; */
    /* border-bottom-right-radius: 0px; */
    /* vertical-align: bottom; */
    /* display: inline-block; */
    float: right;
    cursor: pointer;
    /* margin-right: -4px; */
    /* background-color: rgba(0,64,0,.75); */
    margin-right: 40px;
    margin-top: 0px;
}

.er-icon {
    background-image: url('/storyBuilder/assets/runner-icon-white-filled.png');
    /* background-position: 0% 50%; */
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: contain;
    opacity: .25;
    transition: opacity .15s;
    margin: 0px;
}

.er-button:hover .er-icon {
    opacity: 1;
}

.er-body {
    height: 0px;
    width: 705px;
    /* float: left; */
    vertical-align: bottom;
    border-top-right-radius: .3rem;
    border-top-left-radius: .3rem;
    padding: 0px 0px 0px 0px;
    margin-left: 10px;
    display: inline-block;
    background-color: rgba(0,64,0,.75);
    box-sizing: padding-box;
}

.er-slide-anim {
    transition: all .35s ease;
}

.er-container {
    width: 100%;
    height: 100%;
    border-radius: .3rem;
    overflow: hidden;
    /* float: left; */
}

.er-close-button {
    position: absolute;
    color: rgba(255,255,255,0.55);
    font-size: small;
    border: 1px solid black;
    line-height: 0.5rem;
    top: -12px;
    left: 702px;
    border-radius: 50%;
    padding: 0.6em;
    opacity: 0;
    cursor: pointer;
}

    .er-close-button:after {
        content: 'x';
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: black;
        border-radius: 50%;
        padding: 0.3rem;
        font-weight: bolder;
        border: 2px solid rgba(255,255,255,0.8);
        /*opacity: 0;*/
        transition: all 0.25s;
    }

    .er-close-button:hover::after {
        border-color: white;
    }

    .er-close-button:hover {
        color: white;
    }

.er-content {
    clear: both;
    float: left;
    /* width: 88px; */
}

.er-command-bar {
    height: 30px;
    margin-left: 10px;
    /* width: 40px; */
    float: left;
}

.er-canvas {
    background-color: mintcream;
    min-height: 320px;
    border-top-left-radius: .3rem;
    /* border-top-right-radius: .3rem; */
    float: left;
    /* max-width: 485px; */
    margin-left: 10px;
    width: 480px;
    line-height: 1rem;
}

.er-text {
    padding: 1rem;
    /* float: left; */
    /* clear: both; */
    /* text-overflow: ellipsis; */
    /* overflow-wrap: break-word; */
    /* word-wrap: break-word; */
}


.er-tag-inspector {
    background-color: mintcream;
    float: left;
    min-width: 199px;
    height: 320px;
    border-left: 1px solid darkgreen;
    overflow-y: auto;
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
}

.er-options {
    padding-left: 1.5rem;
    padding-right: 1rem;
    padding-top: 0.1rem;
    cursor: pointer;
}

#encounter-runner.expanded .er-close-button {
    opacity: 1;
}

#encounter-runner.expanded .er-body {
    height: 350px;
    padding: 10px 0px;
    margin-left: 10px;
}

#encounter-runner.expanded .er-icon {
    opacity: 1;
}
